<div>
	<!-- <div ng-controller="chatCtrl" class="chat-container">
	<h1> Trainer Chat </h1>
		<form ng-submit="postData(); message = ''">
			<input class="form-control text-box" type="text" ng-model="message" placeholder="Message">
		</form>
		<hr>
		<div class="messages-container">
			<p class="chats" ng-repeat="message in messages">  <span class="badge"> {{ formatDate(message.createdAt) }} -- </span> {{ message.text }}</p>
		</div>
	</div> -->

	<img id='battlefield' src="http://i.imgur.com/2gfwG.png"/>
	
</div>