
<div class="container">
	
	<br>

	<img id="homegifDrag" src="http://25.media.tumblr.com/tumblr_m2wybd9O9p1qgd7tso3_250.gif">

	<p style="font-size: 20px">Welcome to the Pokemon Center!</p>
	<p style="font-size: 20px">Here you will be able to learn about Pokemon and their abilities, assemble a team of your own favorites, and battle against your friends!</p>
	<p style="font-size: 20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa fringilla, molestie augue quis, pulvinar leo. Curabitur mauris eros, interdum vitae tortor a, luctus porttitor tortor. Etiam vel pretium erat. Nulla facilisi. Morbi felis est, placerat vitae efficitur sit amet, euismod et nibh. Etiam vitae dui quis dui rutrum maximus. Duis consequat neque et fermentum tempus. Nam at mollis magna. Aliquam aliquet ut turpis molestie tincidunt. Nullam dolor leo, maximus vel augue vel, luctus bibendum odio. Nulla non urna ac urna porttitor tincidunt. Quisque mollis tortor sem, id volutpat erat mattis porttitor. Morbi tempus elit est, a tincidunt libero lobortis a. Vivamus lectus ex, lacinia quis ligula quis, maximus malesuada lorem. Ut vulputate euismod risus, in maximus tellus egestas sed.</p>

	<img id="homegifGrowl" src="http://31.media.tumblr.com/21e9ab876cd84558592f3bcfb21c37fc/tumblr_ml5q06jBQc1s5h198o1_500.gif">
	
	<p style="font-size: 20px">Integer malesuada porttitor justo sit amet vulputate. Pellentesque ullamcorper mi a efficitur ultrices. Aenean congue purus eget dignissim dapibus. Nunc tempus ipsum vel erat molestie, nec iaculis lorem convallis. Proin commodo est at turpis pretium, in ornare leo fringilla. Etiam placerat suscipit felis at pretium. Etiam molestie faucibus eros eu dapibus.</p>
	<p style="font-size: 20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa fringilla, molestie augue quis, pulvinar leo. Curabitur mauris eros, interdum vitae tortor a, luctus porttitor tortor. Etiam vel pretium erat. Nulla facilisi. Morbi felis est, placerat vitae efficitur sit amet, euismod et nibh. Etiam vitae dui quis dui rutrum maximus. Duis consequat neque et fermentum tempus. Nam at mollis magna. Aliquam aliquet ut turpis molestie tincidunt. Nullam dolor leo, maximus vel augue vel, luctus bibendum odio. Nulla non urna ac urna porttitor tincidunt. Quisque mollis tortor sem, id volutpat erat mattis porttitor. Morbi tempus elit est, a tincidunt libero lobortis a. Vivamus lectus ex, lacinia quis ligula quis, maximus malesuada lorem. Ut vulputate euismod risus, in maximus tellus egestas sed.</p>

</div>
